@import "~antd/dist/antd.css";

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  text-align: center;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider {
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

         
         
.btn-home{
  background-Color: #001529;
  border-radius: 20px;
  text-align: center;
  width: 250px;
  cursor:pointer;
}

.btn-home:hover{
  background-Color:#1890FF;
}




